<html>
  <head>
    <title>{{ site.name }}: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/prism.css" />
  </head>
  <body>
    <nav>
    <a href="/">Home</a> <a href="/articles/">Articles</a> <a href="/apps/">Apps</a>
    </nav>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>
