name: Test

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - '*'

jobs:
  test-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
          - 10.3
          - 11.3
          - 11.7
          - 12.3

    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v

  test-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v
